<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="test01">
      <h2 data-cy="test01DetailsHeading"><span jhiTranslate="jhipster7App.test01.detail.title">Test 01</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ test01.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipster7App.test01.jobCareerDesc">Job Career Desc</span></dt>
        <dd>
          <span>{{ test01.jobCareerDesc }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/test-01', test01.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
