<div>
  <h2 id="page-heading" data-cy="WamoliFaceLibraryHeading">
    <span jhiTranslate="jhipster7App.wamoliFaceLibrary.home.title">Wamoli Face Libraries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipster7App.wamoliFaceLibrary.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wamoli-face-library"
        [routerLink]="['/wamoli-face-library/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipster7App.wamoliFaceLibrary.home.createLabel"> Create a new Wamoli Face Library </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wamoliFaceLibraries?.length === 0">
    <span jhiTranslate="jhipster7App.wamoliFaceLibrary.home.notFound">No wamoliFaceLibraries found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wamoliFaceLibraries && wamoliFaceLibraries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipster7App.wamoliFaceLibrary.content">Content</span></th>
          <th scope="col"><span jhiTranslate="jhipster7App.wamoliFaceLibrary.wamoliUser">Wamoli User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wamoliFaceLibrary of wamoliFaceLibraries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wamoli-face-library', wamoliFaceLibrary.id, 'view']">{{ wamoliFaceLibrary.id }}</a>
          </td>
          <td>{{ wamoliFaceLibrary.content }}</td>
          <td>
            <div *ngIf="wamoliFaceLibrary.wamoliUser">
              <a [routerLink]="['/wamoli-user', wamoliFaceLibrary.wamoliUser?.id, 'view']">{{ wamoliFaceLibrary.wamoliUser?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wamoli-face-library', wamoliFaceLibrary.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wamoli-face-library', wamoliFaceLibrary.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(wamoliFaceLibrary)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
