<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-community-image-group-heading"
        data-cy="CommunityImageGroupCreateUpdateHeading"
        jhiTranslate="jhipster7App.communityImageGroup.home.createOrEditLabel"
      >
        Create or edit a Community Image Group
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.communityImageGroup.imgGroupName"
            for="field_imgGroupName"
            [ngbTooltip]="'jhipster7App.communityImageGroup.help.imgGroupName' | translate"
            >Img Group Name</label
          >
          <input
            type="text"
            class="form-control"
            name="imgGroupName"
            id="field_imgGroupName"
            data-cy="imgGroupName"
            formControlName="imgGroupName"
          />
          <div
            *ngIf="editForm.get('imgGroupName')!.invalid && (editForm.get('imgGroupName')!.dirty || editForm.get('imgGroupName')!.touched)"
          ></div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipster7App.communityImageGroup.orderNum" for="field_orderNum">Order Num</label>
          <input type="number" class="form-control" name="orderNum" id="field_orderNum" data-cy="orderNum" formControlName="orderNum" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipster7App.communityImageGroup.lastModifyDate" for="field_lastModifyDate"
            >Last Modify Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifyDate"
              data-cy="lastModifyDate"
              type="datetime-local"
              class="form-control"
              name="lastModifyDate"
              formControlName="lastModifyDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipster7App.communityImageGroup.lastModifyBy" for="field_lastModifyBy"
            >Last Modify By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifyBy"
            id="field_lastModifyBy"
            data-cy="lastModifyBy"
            formControlName="lastModifyBy"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
