<div>
  <h2 id="page-heading" data-cy="WamoliUserHeading">
    <span jhiTranslate="jhipster7App.wamoliUser.home.title">Wamoli Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipster7App.wamoliUser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wamoli-user"
        [routerLink]="['/wamoli-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipster7App.wamoliUser.home.createLabel"> Create a new Wamoli User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wamoliUsers?.length === 0">
    <span jhiTranslate="jhipster7App.wamoliUser.home.notFound">No wamoliUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wamoliUsers && wamoliUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userName">
            <span jhiTranslate="jhipster7App.wamoliUser.userName">User Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="gender">
            <span jhiTranslate="jhipster7App.wamoliUser.gender">Gender</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phoneNum">
            <span jhiTranslate="jhipster7App.wamoliUser.phoneNum">Phone Num</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="jhipster7App.wamoliUser.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="unitAddr">
            <span jhiTranslate="jhipster7App.wamoliUser.unitAddr">Unit Addr</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="roomAddr">
            <span jhiTranslate="jhipster7App.wamoliUser.roomAddr">Room Addr</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="idCardNum">
            <span jhiTranslate="jhipster7App.wamoliUser.idCardNum">Id Card Num</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="idCardType">
            <span jhiTranslate="jhipster7App.wamoliUser.idCardType">Id Card Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userType">
            <span jhiTranslate="jhipster7App.wamoliUser.userType">User Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="enable">
            <span jhiTranslate="jhipster7App.wamoliUser.enable">Enable</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isManager">
            <span jhiTranslate="jhipster7App.wamoliUser.isManager">Is Manager</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="jhipster7App.wamoliUser.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="jhipster7App.wamoliUser.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="jhipster7App.wamoliUser.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wamoliUser of wamoliUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wamoli-user', wamoliUser.id, 'view']">{{ wamoliUser.id }}</a>
          </td>
          <td>{{ wamoliUser.userName }}</td>
          <td>{{ wamoliUser.gender }}</td>
          <td>{{ wamoliUser.phoneNum }}</td>
          <td>{{ wamoliUser.email }}</td>
          <td>{{ wamoliUser.unitAddr }}</td>
          <td>{{ wamoliUser.roomAddr }}</td>
          <td>{{ wamoliUser.idCardNum }}</td>
          <td jhiTranslate="{{ 'jhipster7App.CertificateType.' + wamoliUser.idCardType }}">{{ wamoliUser.idCardType }}</td>
          <td jhiTranslate="{{ 'jhipster7App.UserType.' + wamoliUser.userType }}">{{ wamoliUser.userType }}</td>
          <td>{{ wamoliUser.enable }}</td>
          <td>{{ wamoliUser.isManager }}</td>
          <td>{{ wamoliUser.lastModifiedBy }}</td>
          <td>{{ wamoliUser.lastModifiedDate | formatMediumDatetime }}</td>
          <td>
            {{ wamoliUser.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wamoli-user', wamoliUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wamoli-user', wamoliUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(wamoliUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="wamoliUsers && wamoliUsers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
