<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-wamoli-face-library-heading"
        data-cy="WamoliFaceLibraryCreateUpdateHeading"
        jhiTranslate="jhipster7App.wamoliFaceLibrary.home.createOrEditLabel"
      >
        Create or edit a Wamoli Face Library
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipster7App.wamoliFaceLibrary.content" for="field_content">Content</label>
          <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
          <div *ngIf="editForm.get('content')!.invalid && (editForm.get('content')!.dirty || editForm.get('content')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('content')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipster7App.wamoliFaceLibrary.wamoliUser" for="field_wamoliUser"
            >Wamoli User</label
          >
          <select class="form-control" id="field_wamoliUser" data-cy="wamoliUser" name="wamoliUser" formControlName="wamoliUser">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                wamoliUserOption.id === editForm.get('wamoliUser')!.value?.id ? editForm.get('wamoliUser')!.value : wamoliUserOption
              "
              *ngFor="let wamoliUserOption of wamoliUsersCollection; trackBy: trackWamoliUserById"
            >
              {{ wamoliUserOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
