<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-community-heading" data-cy="CommunityCreateUpdateHeading" jhiTranslate="jhipster7App.community.home.createOrEditLabel">
        Create or edit a Community
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.cname"
            for="field_cname"
            [ngbTooltip]="'jhipster7App.community.help.cname' | translate"
            >Cname</label
          >
          <input type="text" class="form-control" name="cname" id="field_cname" data-cy="cname" formControlName="cname" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.managerName"
            for="field_managerName"
            [ngbTooltip]="'jhipster7App.community.help.managerName' | translate"
            >Manager Name</label
          >
          <input
            type="text"
            class="form-control"
            name="managerName"
            id="field_managerName"
            data-cy="managerName"
            formControlName="managerName"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.address"
            for="field_address"
            [ngbTooltip]="'jhipster7App.community.help.address' | translate"
            >Address</label
          >
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.tel"
            for="field_tel"
            [ngbTooltip]="'jhipster7App.community.help.tel' | translate"
            >Tel</label
          >
          <input type="text" class="form-control" name="tel" id="field_tel" data-cy="tel" formControlName="tel" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.email"
            for="field_email"
            [ngbTooltip]="'jhipster7App.community.help.email' | translate"
            >Email</label
          >
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.officeHours"
            for="field_officeHours"
            [ngbTooltip]="'jhipster7App.community.help.officeHours' | translate"
            >Office Hours</label
          >
          <input
            type="text"
            class="form-control"
            name="officeHours"
            id="field_officeHours"
            data-cy="officeHours"
            formControlName="officeHours"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.description"
            for="field_description"
            [ngbTooltip]="'jhipster7App.community.help.description' | translate"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.source"
            for="field_source"
            [ngbTooltip]="'jhipster7App.community.help.source' | translate"
            >Source</label
          >
          <input type="text" class="form-control" name="source" id="field_source" data-cy="source" formControlName="source" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.parentId"
            for="field_parentId"
            [ngbTooltip]="'jhipster7App.community.help.parentId' | translate"
            >Parent Id</label
          >
          <input type="number" class="form-control" name="parentId" id="field_parentId" data-cy="parentId" formControlName="parentId" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.ancestors"
            for="field_ancestors"
            [ngbTooltip]="'jhipster7App.community.help.ancestors' | translate"
            >Ancestors</label
          >
          <input type="text" class="form-control" name="ancestors" id="field_ancestors" data-cy="ancestors" formControlName="ancestors" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.longCode"
            for="field_longCode"
            [ngbTooltip]="'jhipster7App.community.help.longCode' | translate"
            >Long Code</label
          >
          <input type="text" class="form-control" name="longCode" id="field_longCode" data-cy="longCode" formControlName="longCode" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.enable"
            for="field_enable"
            [ngbTooltip]="'jhipster7App.community.help.enable' | translate"
            >Enable</label
          >
          <input type="checkbox" class="form-check" name="enable" id="field_enable" data-cy="enable" formControlName="enable" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.delFlag"
            for="field_delFlag"
            [ngbTooltip]="'jhipster7App.community.help.delFlag' | translate"
            >Del Flag</label
          >
          <input type="checkbox" class="form-check" name="delFlag" id="field_delFlag" data-cy="delFlag" formControlName="delFlag" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.community.orderNum"
            for="field_orderNum"
            [ngbTooltip]="'jhipster7App.community.help.orderNum' | translate"
            >Order Num</label
          >
          <input type="number" class="form-control" name="orderNum" id="field_orderNum" data-cy="orderNum" formControlName="orderNum" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipster7App.community.lastModifyDate" for="field_lastModifyDate"
            >Last Modify Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifyDate"
              data-cy="lastModifyDate"
              type="datetime-local"
              class="form-control"
              name="lastModifyDate"
              formControlName="lastModifyDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipster7App.community.lastModifyBy" for="field_lastModifyBy"
            >Last Modify By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifyBy"
            id="field_lastModifyBy"
            data-cy="lastModifyBy"
            formControlName="lastModifyBy"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
