<div>
  <h2 id="page-heading" data-cy="BookHeading">
    <span jhiTranslate="jhipster7App.book.home.title">Books</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipster7App.book.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-book"
        [routerLink]="['/book/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipster7App.book.home.createLabel"> Create a new Book </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="books?.length === 0">
    <span jhiTranslate="jhipster7App.book.home.notFound">No books found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="books && books.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title"><span jhiTranslate="jhipster7App.book.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="price"><span jhiTranslate="jhipster7App.book.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="publisherName">
            <span jhiTranslate="jhipster7App.book.publisherName">Publisher Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="publisherDate">
            <span jhiTranslate="jhipster7App.book.publisherDate">Publisher Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="author.id">
            <span jhiTranslate="jhipster7App.book.author">Author</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/book', book.id, 'view']">{{ book.id }}</a>
          </td>
          <td>{{ book.title }}</td>
          <td>{{ book.price }}</td>
          <td>{{ book.publisherName }}</td>
          <td>{{ book.publisherDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="book.author">
              <a [routerLink]="['/author', book.author?.id, 'view']">{{ book.author?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/book', book.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(book)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="books && books.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
