<div>
  <h2 id="page-heading" data-cy="CommunityHeading">
    <span jhiTranslate="jhipster7App.community.home.title">Communities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipster7App.community.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-community"
        [routerLink]="['/community/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipster7App.community.home.createLabel"> Create a new Community </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="communities?.length === 0">
    <span jhiTranslate="jhipster7App.community.home.notFound">No communities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="communities && communities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cname">
            <span jhiTranslate="jhipster7App.community.cname">Cname</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="managerName">
            <span jhiTranslate="jhipster7App.community.managerName">Manager Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="jhipster7App.community.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tel"><span jhiTranslate="jhipster7App.community.tel">Tel</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="jhipster7App.community.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="officeHours">
            <span jhiTranslate="jhipster7App.community.officeHours">Office Hours</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="jhipster7App.community.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="source">
            <span jhiTranslate="jhipster7App.community.source">Source</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parentId">
            <span jhiTranslate="jhipster7App.community.parentId">Parent Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ancestors">
            <span jhiTranslate="jhipster7App.community.ancestors">Ancestors</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="longCode">
            <span jhiTranslate="jhipster7App.community.longCode">Long Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="enable">
            <span jhiTranslate="jhipster7App.community.enable">Enable</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="delFlag">
            <span jhiTranslate="jhipster7App.community.delFlag">Del Flag</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="orderNum">
            <span jhiTranslate="jhipster7App.community.orderNum">Order Num</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifyDate">
            <span jhiTranslate="jhipster7App.community.lastModifyDate">Last Modify Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifyBy">
            <span jhiTranslate="jhipster7App.community.lastModifyBy">Last Modify By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let community of communities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/community', community.id, 'view']">{{ community.id }}</a>
          </td>
          <td>{{ community.cname }}</td>
          <td>{{ community.managerName }}</td>
          <td>{{ community.address }}</td>
          <td>{{ community.tel }}</td>
          <td>{{ community.email }}</td>
          <td>{{ community.officeHours }}</td>
          <td>{{ community.description }}</td>
          <td>{{ community.source }}</td>
          <td>{{ community.parentId }}</td>
          <td>{{ community.ancestors }}</td>
          <td>{{ community.longCode }}</td>
          <td>{{ community.enable }}</td>
          <td>{{ community.delFlag }}</td>
          <td>{{ community.orderNum }}</td>
          <td>{{ community.lastModifyDate | formatMediumDatetime }}</td>
          <td>{{ community.lastModifyBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/community', community.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/community', community.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(community)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="communities && communities.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
