<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="communityImages">
      <h2 data-cy="communityImagesDetailsHeading">
        <span jhiTranslate="jhipster7App.communityImages.detail.title">Community Images</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ communityImages.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipster7App.communityImages.imgContent">Img Content</span></dt>
        <dd>
          <div *ngIf="communityImages.imgContent">
            <a (click)="openFile(communityImages.imgContent, communityImages.imgContentContentType)">
              <img
                [src]="'data:' + communityImages.imgContentContentType + ';base64,' + communityImages.imgContent"
                style="max-width: 100%"
                alt="communityImages image"
              />
            </a>
            {{ communityImages.imgContentContentType }}, {{ byteSize(communityImages.imgContent) }}
          </div>
        </dd>
        <dt>
          <span jhiTranslate="jhipster7App.communityImages.imgTitle" [ngbTooltip]="'jhipster7App.communityImages.help.imgTitle' | translate"
            >Img Title</span
          >
        </dt>
        <dd>
          <span>{{ communityImages.imgTitle }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipster7App.communityImages.imgDesc" [ngbTooltip]="'jhipster7App.communityImages.help.imgDesc' | translate"
            >Img Desc</span
          >
        </dt>
        <dd>
          <span>{{ communityImages.imgDesc }}</span>
        </dd>
        <dt><span jhiTranslate="jhipster7App.communityImages.orderNum">Order Num</span></dt>
        <dd>
          <span>{{ communityImages.orderNum }}</span>
        </dd>
        <dt><span jhiTranslate="jhipster7App.communityImages.lastModifyDate">Last Modify Date</span></dt>
        <dd>
          <span>{{ communityImages.lastModifyDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipster7App.communityImages.lastModifyBy">Last Modify By</span></dt>
        <dd>
          <span>{{ communityImages.lastModifyBy }}</span>
        </dd>
        <dt><span jhiTranslate="jhipster7App.communityImages.communityImageGroup">Community Image Group</span></dt>
        <dd>
          <div *ngIf="communityImages.communityImageGroup">
            <a [routerLink]="['/community-image-group', communityImages.communityImageGroup?.id, 'view']">{{
              communityImages.communityImageGroup?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/community-images', communityImages.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
