<div>
  <h2 id="page-heading" data-cy="HomelandStationHeading">
    <span jhiTranslate="jhipster7App.homelandStation.home.title">Homeland Stations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipster7App.homelandStation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-homeland-station"
        [routerLink]="['/homeland-station/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipster7App.homelandStation.home.createLabel"> Create a new Homeland Station </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="homelandStations?.length === 0">
    <span jhiTranslate="jhipster7App.homelandStation.home.notFound">No homelandStations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="homelandStations && homelandStations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="jhipster7App.homelandStation.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="longCode">
            <span jhiTranslate="jhipster7App.homelandStation.longCode">Long Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="jhipster7App.homelandStation.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="livingPopulation">
            <span jhiTranslate="jhipster7App.homelandStation.livingPopulation">Living Population</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="buildingCount">
            <span jhiTranslate="jhipster7App.homelandStation.buildingCount">Building Count</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="entranceCount">
            <span jhiTranslate="jhipster7App.homelandStation.entranceCount">Entrance Count</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="logo">
            <span jhiTranslate="jhipster7App.homelandStation.logo">Logo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="longitude">
            <span jhiTranslate="jhipster7App.homelandStation.longitude">Longitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <span jhiTranslate="jhipster7App.homelandStation.latitude">Latitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="community.id">
            <span jhiTranslate="jhipster7App.homelandStation.community">Community</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="company.id">
            <span jhiTranslate="jhipster7App.homelandStation.company">Company</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let homelandStation of homelandStations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/homeland-station', homelandStation.id, 'view']">{{ homelandStation.id }}</a>
          </td>
          <td>{{ homelandStation.name }}</td>
          <td>{{ homelandStation.longCode }}</td>
          <td>{{ homelandStation.address }}</td>
          <td>{{ homelandStation.livingPopulation }}</td>
          <td>{{ homelandStation.buildingCount }}</td>
          <td>{{ homelandStation.entranceCount }}</td>
          <td>
            <a *ngIf="homelandStation.logo" (click)="openFile(homelandStation.logo, homelandStation.logoContentType)">
              <img
                [src]="'data:' + homelandStation.logoContentType + ';base64,' + homelandStation.logo"
                style="max-height: 30px"
                alt="homelandStation image"
              />
            </a>
            <span *ngIf="homelandStation.logo">{{ homelandStation.logoContentType }}, {{ byteSize(homelandStation.logo) }}</span>
          </td>
          <td>{{ homelandStation.longitude }}</td>
          <td>{{ homelandStation.latitude }}</td>
          <td>
            <div *ngIf="homelandStation.community">
              <a [routerLink]="['/community', homelandStation.community?.id, 'view']">{{ homelandStation.community?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="homelandStation.company">
              <a [routerLink]="['/company', homelandStation.company?.id, 'view']">{{ homelandStation.company?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/homeland-station', homelandStation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/homeland-station', homelandStation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(homelandStation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="homelandStations && homelandStations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
