<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-buildings-heading" data-cy="BuildingsCreateUpdateHeading" jhiTranslate="jhipster7App.buildings.home.createOrEditLabel">
        Create or edit a Buildings
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.buildings.name"
            for="field_name"
            [ngbTooltip]="'jhipster7App.buildings.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.buildings.longCode"
            for="field_longCode"
            [ngbTooltip]="'jhipster7App.buildings.help.longCode' | translate"
            >Long Code</label
          >
          <input type="text" class="form-control" name="longCode" id="field_longCode" data-cy="longCode" formControlName="longCode" />
          <div *ngIf="editForm.get('longCode')!.invalid && (editForm.get('longCode')!.dirty || editForm.get('longCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('longCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.buildings.floorCount"
            for="field_floorCount"
            [ngbTooltip]="'jhipster7App.buildings.help.floorCount' | translate"
            >Floor Count</label
          >
          <input
            type="number"
            class="form-control"
            name="floorCount"
            id="field_floorCount"
            data-cy="floorCount"
            formControlName="floorCount"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.buildings.unites"
            for="field_unites"
            [ngbTooltip]="'jhipster7App.buildings.help.unites' | translate"
            >Unites</label
          >
          <input type="number" class="form-control" name="unites" id="field_unites" data-cy="unites" formControlName="unites" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.buildings.longitude"
            for="field_longitude"
            [ngbTooltip]="'jhipster7App.buildings.help.longitude' | translate"
            >Longitude</label
          >
          <input type="text" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
          <div *ngIf="editForm.get('longitude')!.invalid && (editForm.get('longitude')!.dirty || editForm.get('longitude')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('longitude')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('longitude')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 32 }"
            >
              This field cannot be longer than 32 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.buildings.latitude"
            for="field_latitude"
            [ngbTooltip]="'jhipster7App.buildings.help.latitude' | translate"
            >Latitude</label
          >
          <input type="text" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
          <div *ngIf="editForm.get('latitude')!.invalid && (editForm.get('latitude')!.dirty || editForm.get('latitude')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('latitude')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('latitude')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 32 }"
            >
              This field cannot be longer than 32 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipster7App.buildings.enable"
            for="field_enable"
            [ngbTooltip]="'jhipster7App.buildings.help.enable' | translate"
            >Enable</label
          >
          <input type="checkbox" class="form-check" name="enable" id="field_enable" data-cy="enable" formControlName="enable" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipster7App.buildings.homelandStation" for="field_homelandStation"
            >Homeland Station</label
          >
          <select
            class="form-control"
            id="field_homelandStation"
            data-cy="homelandStation"
            name="homelandStation"
            formControlName="homelandStation"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                homelandStationOption.id === editForm.get('homelandStation')!.value?.id
                  ? editForm.get('homelandStation')!.value
                  : homelandStationOption
              "
              *ngFor="let homelandStationOption of homelandStationsSharedCollection; trackBy: trackHomelandStationById"
            >
              {{ homelandStationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
