<div>
  <h2 id="page-heading" data-cy="WamoliUserLocationHeading">
    <span jhiTranslate="jhipster7App.wamoliUserLocation.home.title">Wamoli User Locations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipster7App.wamoliUserLocation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wamoli-user-location"
        [routerLink]="['/wamoli-user-location/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipster7App.wamoliUserLocation.home.createLabel"> Create a new Wamoli User Location </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wamoliUserLocations?.length === 0">
    <span jhiTranslate="jhipster7App.wamoliUserLocation.home.notFound">No wamoliUserLocations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wamoliUserLocations && wamoliUserLocations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="state">
            <span jhiTranslate="jhipster7App.wamoliUserLocation.state">State</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cardNum">
            <span jhiTranslate="jhipster7App.wamoliUserLocation.cardNum">Card Num</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="expireTime">
            <span jhiTranslate="jhipster7App.wamoliUserLocation.expireTime">Expire Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="delayTime">
            <span jhiTranslate="jhipster7App.wamoliUserLocation.delayTime">Delay Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="jhipster7App.wamoliUserLocation.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="jhipster7App.wamoliUserLocation.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="wamoliUser.id">
            <span jhiTranslate="jhipster7App.wamoliUserLocation.wamoliUser">Wamoli User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wamoliUserLocation of wamoliUserLocations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wamoli-user-location', wamoliUserLocation.id, 'view']">{{ wamoliUserLocation.id }}</a>
          </td>
          <td>{{ wamoliUserLocation.state }}</td>
          <td>{{ wamoliUserLocation.cardNum }}</td>
          <td>{{ wamoliUserLocation.expireTime | formatMediumDatetime }}</td>
          <td>{{ wamoliUserLocation.delayTime }}</td>
          <td>{{ wamoliUserLocation.lastModifiedBy }}</td>
          <td>{{ wamoliUserLocation.lastModifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="wamoliUserLocation.wamoliUser">
              <a [routerLink]="['/wamoli-user', wamoliUserLocation.wamoliUser?.id, 'view']">{{ wamoliUserLocation.wamoliUser?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wamoli-user-location', wamoliUserLocation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wamoli-user-location', wamoliUserLocation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(wamoliUserLocation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="wamoliUserLocations && wamoliUserLocations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
