<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="company">
      <h2 data-cy="companyDetailsHeading"><span jhiTranslate="jhipster7App.company.detail.title">Company</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ company.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipster7App.company.name" [ngbTooltip]="'jhipster7App.company.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ company.name }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipster7App.company.longCode" [ngbTooltip]="'jhipster7App.company.help.longCode' | translate"
            >Long Code</span
          >
        </dt>
        <dd>
          <span>{{ company.longCode }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipster7App.company.address" [ngbTooltip]="'jhipster7App.company.help.address' | translate">Address</span>
        </dt>
        <dd>
          <span>{{ company.address }}</span>
        </dd>
        <dt><span jhiTranslate="jhipster7App.company.tel" [ngbTooltip]="'jhipster7App.company.help.tel' | translate">Tel</span></dt>
        <dd>
          <span>{{ company.tel }}</span>
        </dd>
        <dt><span jhiTranslate="jhipster7App.company.email" [ngbTooltip]="'jhipster7App.company.help.email' | translate">Email</span></dt>
        <dd>
          <span>{{ company.email }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipster7App.company.managerName" [ngbTooltip]="'jhipster7App.company.help.managerName' | translate"
            >Manager Name</span
          >
        </dt>
        <dd>
          <span>{{ company.managerName }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipster7App.company.enable" [ngbTooltip]="'jhipster7App.company.help.enable' | translate">Enable</span>
        </dt>
        <dd>
          <span>{{ company.enable }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/company', company.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
